/SceneEnhancement/GeneratedFiles/Debug
/SceneEnhancement/3rdparty/include/Eigen
/SceneEnhancement/3rdparty/include/alglib
/SceneEnhancement/x64/Debug
/SceneEnhancement/x64/Release
/x64/Debug
/SceneEnhancement/GeneratedFiles/Release
/SceneEnhancement/matrixtime.txt
/SceneEnhancement/log.txt
/SceneEnhancement.opensdf
/SceneEnhancement.sdf
/SceneEnhancement/simulated_anealing.txt
/SceneEnhancement/SceneEnhancement/clusterresult
/SceneEnhancement/SceneEnhancement/learnedresultnew
/SceneEnhancement/SceneEnhancement/learnedresults
/SceneEnhancement/camera
/SceneEnhancement/config
shadows
clusterresult
exportscene
learnedresults
learnedresultnew
dataset
/.vs/SceneEnhancement/v15
/3rdparty
SceneEnhancement/Resources
/screenshots
/SceneEnhancement/small-object-info
/x64
/SceneEnhancement/small-object-results
